<style type="text/css">
  /* TEMP, move out of here! */
  .options {
    height:8em;
  }
</style>
<script>
  <% if session[:return_to] %>
  var tt_cancel_destination = "<%= session[:return_to] %>"  
  <% else %>
  var tt_cancel_destination = "/patients/relationships/<%= @patient.patient_id %>"  
  <% end %>
</script>
<form id='relationship' action="/relationships/create" method='post'> 
  <%= hidden_field_tag :patient_id, @patient.id %>
  <%= hidden_field_tag :relation, params[:relation] %>

  <%= select_tag :relationship, options_for_select(
    RelationshipType.all.inject({}){|result, element| result[element.b_is_to_a] = element.relationship_type_id; result }, params[:relationship]), 
    {:helpText => "How is #{Person.find(params[:relation]).name rescue 'this person'} related to the patient"} %> 

</form>
