
<%= javascript_include_tag "jquery-1.3.2.min" %>
<script language="javascript">
  tt_cancel_destination = "<%= @destination %>";
  tt_cancel_show = "<%= @destination %>";

  var destination = "<%= @destination %>";

  jQuery(document).ready(function($) {
    $('#back').click(function() { window.location = destination })
  })

  var schedules = <%= @schedules.to_json %>;
</script>
<div id="home">
  <div id="project_name"><span style="font-size: 0.4em;">Hotline</span></div>
  <div id="facility"><%=Location.current_location.name%></div>
  <div id="location"><%=version_without_date%></div>
  <div id="date"><%=system_date%></div>

  <div id="user"><%= User.current_user.username %></div>
  <select id="tabs">
    <option value="/clinic/showschedules?health_facility=<%=@health_facility %>&source_url=<%=@source_url%>&patient_id=<%=@patient_id%>"> Clinic Schedules</option>
  </select>
  <select id="links">
    <option value="">Cancel</option>
    <option value="">Finish</option>
  </select>
</div>
