<html>
  <head>
    <title><%=@report_name%></title>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="btn-menu">
      <%params[:format] = 'pdf'%>
      <%select_report_criteria = '/report/select?report_type=' +@report_type +'&query=' + @query%>

      <button id="back_button" class="button blue" onclick="window.location = '<%#=report_path(params)%>'"><span>PDF</span></button>
      <!-- button id="regenerate_button" class="button blue" onclick="document.getElementById('frmMain').submit();"><span>Regenerate</span></button -->
      <button id="print_button" class="button blue" onclick="window.print()"><span>Print</span></button>
      <button id="finish_button" class="button green" onclick="window.location = '/clinic'"><span>Finish</span></button>
      <button id="back_button" class="button red" onclick="window.location = '<%=select_report_criteria%>'"><span>Back</span></button>
    </div>

    <form id="frmMain" action="/report/patient_analysis_report" method="post">
      <input type="hidden" id="start_date" name="start_date" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>" />
      <input type="hidden" id="end_date" name="end_date" value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>" />
    </form>

    <div>
    <fieldset class="main_fieldset">
      <legend class="main_legend" style="color:white; background-color:green;">
        <%=@report_name +" - <i>"+ @patient_type +"</i>"%>
      </legend>
      <table cellspacing="0" width="100%">
        <tr>
          <td width="52%" colspan = 2 class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold; text-align:right;">
              Total Calls
          </td>
          <td width="12%" colspan = 2 class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold; text-align:center;">
              Morning <br/> 0700-1000
          </td>
          <td width="12%" colspan = 2 class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold; text-align:center;">
              Mid-Day <br/> 1001-1300
          </td>
          <td width="12%" colspan = 2 class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold; text-align:center;">
              Afternoon <br/> 1301-1600
          </td>
          <td width="12%" colspan = 2 class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold; text-align:center;">
              Evening <br/> 1601-1900
          </td>
        </tr>
        <tr>
          <td width="45%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              &nbsp;
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
        </tr>
        <%@report.reverse.map do |data|%>
          <tr>
            <td class="cellleft cellbottom main-table-cell" style="text-align:left">
              <%= @grouping.humanize + " ( "+ data[:start_date] + " - " + data[:end_date] + " )"%>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:total] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:morning] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:morning_pct] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:midday] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:midday_pct] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:afternoon] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:afternoon_pct] rescue 0 %>
            </td>
            <td class="cellleft cellbottom main-table-cell">
              <%=  data[:evening] rescue 0 %>
            </td>
            <td class="cellleft cellbottom cellright main-table-cell">
              <%=  data[:evening_pct] rescue 0 %>
            </td>
          </tr>
        <% end %>
      </table>

    </fieldset>
      
    </div>

    <%# (1..2000).each{ %>
    <%#= "<hr /><br />" %>
    <%# } %>
  </body>
</html>
