<html>
  <head>
    <title><%=@report_name%></title>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="btn-menu">
      <%params[:format] = 'pdf'%>
      <%select_report_criteria = '/report/select?report_type=' +@report_type +'&query=' + @query%>

      <!--button id="back_button" class="button blue" onclick="window.location = '<%#=report_path(params)%>'"><span>PDF</span></button -->
      <!-- button id="regenerate_button" class="button blue" onclick="document.getElementById('frmMain').submit();"><span>Regenerate</span></button -->
      <!-- button id="print_button" class="button blue" onclick="window.print()"><span>Print</span></button -->
      <button id="finish_button" class="button green" onclick="window.location = '/clinic'"><span>Finish</span></button>
      <button id="back_button" class="button red" onclick="window.location = '<%=select_report_criteria%>'"><span>Back</span></button>
    </div>

    <form id="frmMain" action="/report/patient_analysis_report" method="post">
      <input type="hidden" id="start_date" name="start_date" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>" />
      <input type="hidden" id="end_date" name="end_date" value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>" />
    </form>

    <div>
    <fieldset class="main_fieldset">
      <legend class="main_legend" style="color:white; background-color:green;">
        <%=@report_name +" - <i>"+ @patient_type +"</i>"%>
      </legend>
      <table cellspacing="0" width="100%">
        <tr>
          <%= "Filter Info: Grouping - #{@grouping.capitalize} #{@special_message} " %>
        </tr>
        <tr>
          <td width="60%" class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
            &nbsp;
          </td>
          <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              %age
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Min
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Max
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Avg
          </td>
          <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              S.Dev
          </td>
        </tr>
        <%@report.reverse.map do |data|%>
          <tr>
            <td width="100%" colspan = 7 class="cellleft cellbottom main-table-cell" style="background-color:ddd; text-align:left;font-weight: bold; font-size: large; font-style: italic;">
              <%= @grouping.humanize + " beginning "+ data[:patient_data][:start_date] + " ending " + data[:patient_data][:end_date]%>
            </td>
          </tr>          
          <%if(@patient_type.downcase == 'children')%>
            <tr>
              <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                Gender
              </td>
            </tr>
            <% data[:patient_data][:gender].map do | gender |%>
            <tr>
              <td class="cellleft cellbottom cellright main-table-cell">
              <%= gender.first.humanize %>
              </td>
              
              <td class="cellleft cellbottom main-table-cell">
              <%= gender.last %>
              </td>
              <% if gender.first.downcase == 'female' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:female][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:female][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:female][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:female][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:female][:statistical_info][:sdev] rescue 0 %>
                </td>
              <% elsif gender.first.downcase == 'male' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:male][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:male][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:male][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:male][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:male][:statistical_info][:sdev] rescue 0 %>
                </td>
              <%  end %>
            </tr>
            <% end %>

        <%elsif(@patient_type.downcase == 'women')%>
            <tr>
              <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                Pregnancy Status
              </td>
            </tr>
            <% data[:patient_data][:pregnancy_status].map do | pregnancy_status |%>
            <tr>
              <td class="cellleft cellbottom main-table-cell">
              <%= pregnancy_status.first.humanize %>
              </td>
              
              <td class="cellleft cellbottom main-table-cell">
              <%= pregnancy_status.last %>
              </td>
              <% if pregnancy_status.first.downcase == 'pregnant' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:pregnant][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:pregnant][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:pregnant][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:pregnant][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:pregnant][:statistical_info][:sdev] rescue 0 %>
                </td>
              <% elsif pregnancy_status.first.downcase == 'non_pregnant' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:nonpregnant][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:nonpregnant][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:nonpregnant][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:nonpregnant][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:nonpregnant][:statistical_info][:sdev] rescue 0 %>
                </td>
              <% elsif pregnancy_status.first.downcase == 'delivered' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:delivered][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:delivered][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:delivered][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:delivered][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:delivered][:statistical_info][:sdev] rescue 0 %>
                </td>
              <% end %>
            </tr>
            <% end %>
        
        <%elsif(@patient_type.downcase == 'all')%>
            <tr>
              <td colspan = 7 class="cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
                Patient Type
              </td>
            </tr>
            <% data[:patient_data][:patient_type].map do | patient_type |%>
            <tr>
              <td class="cellleft cellbottom main-table-cell">
              <%= patient_type.first.humanize %>
              </td>
              
              <td class="cellleft cellbottom main-table-cell">
              <%= patient_type.last %>
              </td>
              <% if patient_type.first.downcase == 'women' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:women][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:women][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:women][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:women][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:women][:statistical_info][:sdev] rescue 0 %>
                </td>
              <% elsif patient_type.first.downcase == 'children' %>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:child][:statistical_info][:percentage] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:child][:statistical_info][:min] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:child][:statistical_info][:max] rescue 0 %>
                </td>
                <td class="cellleft cellbottom main-table-cell">
                  <%= data[:statistical_data][:child][:statistical_info][:average] rescue 0 %>
                </td>
                <td class="cellleft cellbottom cellright main-table-cell">
                  <%= data[:statistical_data][:child][:statistical_info][:sdev] rescue 0 %>
                </td>
              <%  end %>

            </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>

    </fieldset>
      
    </div>

    <%# (1..2000).each{ %>
    <%#= "<hr /><br />" %>
    <%# } %>
  </body>
</html>
