<script>
  var tt_cancel_destination = '/clinic';
  var date_ranges = <%= @report_date_range.to_json%>;

  function setDateRange(quarter){
    var date_range;
    quarter     = $(quarter).value;
    date_range  = date_ranges[quarter];

    $('start_date').value = date_range[0];
    $('end_date').value   = date_range[1];
  }
</script>
<form method='POST' action="reports" >
  <% if not @query == "individual_current_enrollments" %>
      <%= select_tag :report_date_range, options_for_select(@date_range_values),
          {:helpText => "Select Date Range",
           :tt_onUnLoad=>"setDateRange('report_date_range');"} %>

      <% if @report_type.downcase != 'tips' %>
        <%= select_tag :patient_type, options_for_select(@patient_type),
                    {:helpText => "Select Patient Type"} %>
      <% end %>

      <%= select_tag :grouping,     options_for_select(@grouping),
                  {:helpText => "Select Grouping Criterion"} %>

      <%if @query == "health_issues"%>
        <%= select_tag :health_task, options_for_select(@health_task),
                    {:helpText => "Select Health Task"} %>
      <%end%>

      <%if @query == "referral_followup"%>
        <%= select_tag :outcome, options_for_select(@outcomes),
                    {:helpText => "Select Outcome"} %>
      <%end%>

      <% if @report_type.downcase == 'call_analysis' %>
        <%= select_tag :staff_member,     options_for_select(@staff),
                    {:helpText => "Select a Staff member to report on"} %>
        <%= select_tag :call_type,     options_for_select(@call_type),
                    {:helpText => "Select Call type"} %>
        <%= select_tag :call_status,     options_for_select(@call_status),
                    {:helpText => "Select Call Status (dropped or not)"} %>
      <% elsif @report_type.downcase == 'tips' %>
        <%= select_tag :content_type,     options_for_select(@content_type),
                    {:helpText => "Select the Content to report on"} %>
        <%= select_tag :language,     options_for_select(@language),
                    {:helpText => "Select the language to report on"} %>
        <% if @query != 'current_enrollment_totals' %>
          <%= select_tag :phone_type,     options_for_select(@phone_type),
                      {:helpText => "Select Phone type"} %>
        <% end %>
        <%= select_tag :delivery,     options_for_select(@delivery),
                    {:helpText => "Select tips delivery method"} %>
        <%= select_tag :network_prefix,     options_for_select(@network_prefix),
                    {:helpText => "Select the number prefix"} %>
      <% end %>
  <% end %>
  <%= select_tag :report_destination,     options_for_select(@destination),
                {:helpText => "Select report destination"} %>

  <%= hidden_field_tag :query, "#{@query}"%>
  <%= hidden_field_tag :start_date, "", {:id => 'start_date'}%>
  <%= hidden_field_tag :end_date,   "", {:id => 'end_date'}%>
  <%= hidden_field_tag :report_type, "#{@report_type}", {:id => 'report_type'}%>

</form>


