<html>
  <head>
    <title><%=@report_name%></title>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="btn-menu">
      <%params[:format] = 'pdf'%>
      <%select_report_criteria = '/report/select?report_type=' +@report_type +'&query=' + @query%>

      <!--button id="back_button" class="button blue" onclick="window.location = '<%#=report_path(params)%>'"><span>PDF</span></button -->
      <!-- button id="regenerate_button" class="button blue" onclick="document.getElementById('frmMain').submit();"><span>Regenerate</span></button -->
      <!-- button id="print_button" class="button blue" onclick="window.print()"><span>Print</span></button -->
      <button id="finish_button" class="button green" onclick="window.location = '/clinic'"><span>Finish</span></button>
      <button id="back_button" class="button red" onclick="window.location = '<%=select_report_criteria%>'"><span>Back</span></button>
    </div>

    <form id="frmMain" action="/report/patient_analysis_report" method="post">
      <input type="hidden" id="start_date" name="start_date" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>" />
      <input type="hidden" id="end_date" name="end_date" value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>" />
    </form>

    <div>
    <fieldset class="main_fieldset">
      <legend class="main_legend" style="color:white; background-color:green;">
        <%=@report_name +" - <i>"+ @patient_type +"</i>"%>
      </legend>
      <table cellspacing="0" width="100%">
          <tr>
            <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
            <%= @health_task.humanize.titleize %>
            </td>
            
            <td class="celltop cellleft cellbottom main-table-cell" style="font-weight: bold;">
              Count
            </td>
            
            <td class="celltop cellleft cellbottom cellright main-table-cell" style="font-weight: bold;">
              Percentage
            </td>
          </tr>
          
        <%@report.reverse.map do |data|%>
          <tr>
            <td width="25%" colspan = 3 class="cellleft cellbottom cellright main-table-cell" style="background-color:ddd; text-align:center;font-weight: bold; font-size: large; font-style: italic;">
              <%= @grouping.humanize + " beginning "+ data[:start_date] + " ending " + data[:end_date]%>
            </td>
          </tr>
          <tr>
            <td  class="cellleft cellbottom main-table-cell">
                Total  <%= @patient_type %> Callers
            </td>
            <td  class="cellleft cellbottom main-table-cell">
              <%= data[:total_calls] %>
            </td>
            <td  class="cellleft cellbottom cellright main-table-cell"> 
              na
            </td>
          </tr>
          <tr>
            <td  class="cellleft cellbottom main-table-cell">
                Total <%= @patient_type %> Callers with <%= @health_task.humanize.titleize %>
            </td>
            <td  class="cellleft cellbottom main-table-cell">
              <%= data[:total_number_of_calls] %>
            </td>
            <td  class="cellleft cellbottom cellright main-table-cell">
              na
            </td>
          </tr>
          <tr>
            <td  class="cellleft cellbottom main-table-cell">
                Total Calls for period
            </td>
            <td  class="cellleft cellbottom main-table-cell">
              <%= data[:total_number_of_calls_for_period]%>
            </td>
            <td  class="cellleft cellbottom cellright main-table-cell">
              na
            </td>
          </tr>
          <tr>
            <td width="25%" colspan = 3 class="cellleft cellbottom cellright main-table-cell" style="background-color:ddd; text-align:center;font-weight: bold; font-size: large; font-style: italic;">
              Below are the <%=  @health_task.gsub(/_/, " ").capitalize %>
            </td>
          </tr>
          
          <% data[:health_issues].map do | health_issue|%>
          <tr>
            <td class="cellleft cellbottom main-table-cell">
            <% concept = health_issue[:concept_name].to_s.sub("SIGN", "")%>
            <% concept.sub("SYMPTOM","") %>
            <% concept = concept == "GAINED OR LOST WEIGHT" ? "WEIGHT CHANGE" : concept %>
            <%=concept.to_s.titleize %>
            </td>
            
            <td class="cellleft cellbottom main-table-cell">
            <%= health_issue[:call_count] %>
            </td>
            
            <td class="cellleft cellbottom cellright main-table-cell">
            <%= health_issue[:call_percentage] %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>

    </fieldset>
      
    </div>

    <%# (1..2000).each{ %>
    <%#= "<hr /><br />" %>
    <%# } %>
  </body>
</html>
