<html>
  <head>
    <%= javascript_include_tag "jquery-1.3.2.min" %>
    <%= stylesheet_link_tag "dashboard" %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      })
    </script>
    <style type="text/css">
      #stats {
        width:98%;
        border:1px solid black;
        margin:10px;
        background:white;
      }
      #stats td, #stats th {
        text-align:center;
      }
    </style>
  </head>
  <body style="background-color: #ffffff">
    <%style = 'margin: 5px 0px 0px; width: 280px;'%>
    <%style = 'margin: 5px 0px 0px; width: 400px;' if @report_type == 'tips'%>
    <div id="buttons" style="height: 304px;margin-top: 200px;margin-left: 20px;">
      <h2>Select <%= @report_label%></h2>
      <base target="_parent">

        <% (@reports || []).each do |name| %>
          <button style="<%=style%>" onMouseDown="window.parent.location='/report/select?q=' + encodeURIComponent('<%=h name.downcase%>');" target="_parent" class="blue"><span><%=name%></span></button><br/>
        <%end%>
        <%= hidden_field_tag :report_type, "#{@report_type}" %>
      </base>
    </div>  
  </body>
</html>

