<%= render :partial => 'dashboards/nav', :locals => {:active => 'overview'} %>
<script type="text/javascript">
  function select(node) {
    $('#observations').empty().load('/encounters/observations/' + node.attr('encounter'))
    $('#encounters li.data').removeClass("active");
    node.addClass("active");
  }
  
  function voiding(node) {
    confirmYesNo("Void this item?", function() {
      hideConfirmation();
      $.post('/encounters/void/' + node.parent().attr('encounter'), {}, function(data, status) {
        if (status == 'success') node.parent().remove();
      })
    }, function() { hideConfirmation(); });
  }

  jQuery(document).ready(function($) {
    $('#encounters li.data').click(function() { select($(this)); }); 
    $('#encounters li.data div.void').click(function() { voiding($(this)); return false; }); 
    $('#charts').empty().load('/patients/graph/<%= @patient.id -%>?data=weight');     
    recent = $('#encounters li.data:first');
    if (recent) select(recent);
  }) 
</script>
<div id="tab">
  <div id="history" style="float:left;width:500px;margin-top:5px;">
    <div id="programs" class="panel">
      <!-- h2>Programs</h2 -->
      <ul class="list small" style="height:140px;">
        <% for prog in @programs do %>
          <li class="data <%= cycle('even', 'odd') %>" program="<%= prog.id %>">
            <div class="program"><%=h prog.program.name.humanize %> started <%=h prog.date_enrolled.strftime("%b-%Y") rescue 'Unknown' %></div>
          </li>  
        <% end %>
        <% if @programs.empty? %>
          <li class="data even">
            <div class="program">There are no current programs for this patient</div>
          </li>        
        <% end %>        
        <% for prog in @programs do %>
          <li class="data <%= cycle('even', 'odd') %>" program="<%= prog.id %>">  
            <div class="patient_state"><%=h prog.patient_states.last.to_s.humanize %></div>
          </li>  
        <% end %>
      </ul>
    </div>
    <div id="treatment" class="panel">
      <!-- h2>Treatment</h2 -->
      <ul class="list small" style="height:140px;">
        <% for presc in @prescriptions do %>
          <li class="data <%= cycle('even', 'odd') %>" prescription="<%= presc.id %>">
            <div class="prescription"><%=h presc.to_s %></div>
          </li>  
        <% end %>
        <% if @prescriptions.empty? %>
          <li class="data even">
            <div class="prescription">There are no current prescriptions for this patient</div>
          </li>        
        <% end %>
      </ul>
    </div>
    <div id="charts" class="panel" style="height:235px;">
    </div>
  </div>
  <div id="today" style="margin-top:5px; border: 1px solid #000;">
    <div id="alerts" class="panel">
      <!-- h2>Alerts</h2 -->
      <ul class="list small" style="height:139px;">
        <li class="data even">
          <div class="alert">There are no alerts for this patient</div>
        </li>
      </ul>
    </div>
    <div id="encounters" class="panel" style="float:right;">
      <% current_day = session[:datetime].strftime('%Y-%m-%d') rescue 'Today'%>
      <h2><%=current_day %>'s Visit (possibly filtered)</h2>
      <ul class="list" style="clear:both;">
        <% for encounter in @encounters.reverse do %>
          <li class="data <%= cycle('even', 'odd') %>" encounter="<%= encounter.id %>">
            <div class="void"><img src="/images/cancel_flat_small.png"/></div>
            <div class="encounter"><%=h encounter.name.humanize %> at <%=h encounter.encounter_datetime.strftime("%k:%M") %></div>
          </li>  
        <% end %>
      </ul>
      <p></p>
      <ul id="observations" class="list small" style="height: 230px;">
      </ul>    
    </div>
  </div>  
</div>
